<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paging</title>
    <link rel="stylesheet" href="comment.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <comment id="comment">
      <h1 class="header" data-aos="fade-right">Comment Section</h1>
      <div class="main" data-aos="fade-down">
        <form action="/comment" method="POST" autocomplete="off">
          <br />
          <br>
          <label class="name-label" for="">Name :</label><br /><br />
          <input
            size="100"
            type="text"
            name="name"
            placeholder="Enter your full name..."
            class="name-input"
            required
          /><br /><br />
          <label class="rating-label" for="">Rating :</label><br /><br />
          <rating class="rating">
            <input class="rating-3" type="radio" value="3" name="rating" required/>
            <label for="3">3</label>&nbsp;&nbsp;
            <input class="rating-4" value="4" type="radio" name="rating" />
            <label for="4">4</label>&nbsp;&nbsp;
            <input class="rating-5" value="5" type="radio" name="rating" />
            <label for="5">5</label><br /><br /> </rating
          ><br /><br /><br />
          <label class="write-review-label" for="">Write your review :</label
          ><br /><br />
          <textarea
            class="text-area"
            type="text"
            name="review"
            placeholder="Write your review..."
            cols="72"
            rows="8"
            required
          ></textarea
          >
          <div class="buttons">
            <button
              class="btn green"
              type="submit"
              name="post"
              data-aos="fade-up"
            >
              Post
            </button>
          </div>
        </form>
      </div>
    </comment>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>
