<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paging</title>
    <link rel="stylesheet" href="reviews.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <h1 class="header" data-aos="fade-down">Reviews</h1>
    <br /><br />
    <div class="comments-div" data-aos="fade-down">
      <% for(var i=comments.length-1;i>=0;--i){ %>
      <div class="comment-each">
        <default class="default">
          <img class="avatar" src=<%=comments[i].avatar %>/>
          <p>
            <b class="comment-name"><%=comments[i].name %>: </b>
            <%=comments[i].review %>
          </p>
          <br />
          <br />
          <p>
            <b class="rating">Rating:</b>
            <% for(var j=1;j<=parseInt(comments[i].rating);j++){ %>⭐<%}%>
          </p>
          <br /><br />
          <disp_time class="comment-time"><%=comments[i].time %></disp_time>
          <br
        /></default>
      </div>
      <br /><br /><br /><br /><br /><br />
      <hr />
      <br />
      <% } %>
    </div>

    <choose>
      <form action="/reviews" method="POST" autocomplete="off">
        <br>
        <div class="buttons">
          <button
            class="btn green"
            type="submit"
            name="comment"
            data-aos="fade-up"
          >
            Write a Comment
          </button>
          <button class="btn red" name="back" type="submit" data-aos="fade-up">
            Home
          </button>
        </div>
      </form>
    </choose>
    <br /><br />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
