<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paging</title>
    <link rel="stylesheet" href="reviews.css" />
  </head>

  <body>
    <h1>Reviews</h1>
    <br /><br />
    <% for(var i=comments.length-1;i>=0;--i){ %>
    <default class="default">
      <img class="dp-icon" src="dp icon.png" alt="" srcset="" />
      <p>
        <b class="comment-name"> <%=comments[i].name %> : </b>
        <%=comments[i].review %>
      </p>
      <p>
        <b class="rating">Rating :</b>

        <% for(var j=1;j<=parseInt(comments[i].rating);j++){ %> ⭐ <%}%>
      </p>
      <br /><br />
      <disp_time class="comment-time">
        <%=comments[i].time %>
      </disp_time> </default
    ><br /><br /><br /><br /><br />
    <hr />
    <br /><br /><br /><br /><br />
    <% } %>
    <br /><br /><br />
    <choose>
      <form action="/reviews" method="POST" autocomplete="off">
        <br /><br />
        <button class="back" type="submit" name="comment">
          Write a Comment
        </button>

        <button class="home" name="back" type="submit">Home</button>
      </form>
    </choose>
    <br /><br />
  </body>
</html>
