@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background-color: #272727;
  text-align: center;
  color: aliceblue;
  overflow-x: hidden;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html {
  scroll-behavior: smooth;
}
.main {
  border-radius: 2px;
  width: 700px;
  height: 450px;
  align-items: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input {
  border-radius: 5px;
  width: 550px;
  height: 30px;
}
input:focus,
textarea:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 30px #719ece;
}
input::placeholder,
textarea::placeholder {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: gray;
}
.name-input {
  margin-right: 50px;
}
.buttons {
  width: 500px;
  height: 50px;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  display: inline-block;
}
.btn:hover {
  cursor: pointer;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}
.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}
.green:hover {
  color: #fff;
  background-color: #2ecc71;
}
h1 {
  margin-left: 25px;
  border-top-width: 9px;
  border-bottom-width: 14px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  color: #adadad;
  text-decoration: underline overline #ff3028;
}
.header {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: type-header 5s steps(15);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #bfbfbf;
  width: 15ch;
}
@keyframes type-header {
  0% {
    width: 0ch;
  }
  100% {
    width: 15ch;
  }
}
.name-label {
  float: left;
  float: left;
  padding-left: 50px;
}
.rating-label {
  margin-right: 530px;
}
.rating {
  float: left;
  display: inline;
  padding-left: 50px;
}
.rating-3,
.rating-4,
.rating-5 {
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
.write-review-label {
  margin-right: 420px;
}
.text-area {
  border-radius: 5px;
}
/* mobile responsive */
@media (min-width: 320px) and (max-width: 768px) {
  .main {
    width: 300px;
    height: 370px;
  }
  input {
    border-radius: 5px;
    width: 270px;
    height: 30px;
  }
  .name-input {
    margin-right: 0px;
  }
  .buttons {
    width: 300px;
    height: 100px;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
  }
  .btn {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
  }
  h1 {
    margin-left: 15px;
    border-top-width: 9px;
    border-bottom-width: 14px;
    font-size: 20px;
  }
  .header {
    font-size: 30px;
  }

  .name-label {
    padding-left: 10px;
  }
  .rating-label {
    margin-right: 0px;
    padding-right: 200px;
  }
  .rating {
    padding-left: 10px;
  }
  .rating-3,
  .rating-4,
  .rating-5 {
    height: 15px;
  }
  .write-review-label {
    margin-right: 0px;
    padding-right: 100px;
  }
  .text-area {
    border-radius: 5px;
    width: 270px;
    height: 70px;
  }
}
