@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background-color: #272727;
  text-align: center;
  color: aliceblue;
  overflow-x: hidden;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html {
  scroll-behavior: smooth;
}
h1 {
  margin-left: 25px;
  border-top-width: 9px;
  border-bottom-width: 14px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  color: #adadad;
  text-decoration: underline overline #ff3028;
}
.header {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.buttons {
  width: 500px;
  height: 50px;
  margin: auto;
  margin-bottom: 50px;
}
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
}
.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}
.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}
.green:hover {
  color: #fff;
  background-color: #2ecc71;
}
.default {
  float: left;
}
.comments-div {
  height: 300px;
  width: 1000px;
  margin: auto;
  overflow-y: scroll;
  scrollbar-width: none;
}
.comments-div::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.comment-each {
  margin-bottom: 150px;
}
.avatar {
  width: 35px;
  height: 35px;
  content: icon;
  display: inline;
}
p {
  display: inline;
}
.comment-name {
  color: #2ecc71;
  font-size: large;
  font-family: "Inconsolata", monospace;
  padding-left: 15px;
}
.rating {
  color: #e74c3c;
  font-size: large;
  font-family: "Inconsolata", monospace;
  padding-left: 25px;
  margin-top: 50px;
}
.comment-time {
  padding-left: 700px;
}
hr {
  height: 1px;
  color: gray;
}

/* mobile responsive */
@media (min-width: 320px) and (max-width: 768px) {
  .header {
    font-size: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .buttons {
    width: 300px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
  }
  .btn {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
  }
  .default {
    float: start;
  }
  .comments-div {
    height: 300px;
    width: 300px;
    margin: auto;
  }

  p {
    display: inline;
  }
  .comment-name {
    padding-left: 10px;
  }
  .rating {
    padding-left: 15px;
  }
  .comment-time {
    padding-left: 100px;
  }
  hr {
    height: 0px;
    color: gray;
  }
}
