@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background-color: #272727;
  text-align: center;
  color: aliceblue;
  overflow-x: hidden;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html {
  scroll-behavior: smooth;
}
.main {
  border-radius: 2px;
  width: 700px;
  height: 450px;
  align-items: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about {
  text-align: start;
}
.use {
  display: flex;
  flex-direction: row-reverse;
}
.contact {
  text-align: start;
}
.about-div {
  width: 800px;
  height: 400px;
  padding-left: 30px;
}
.use-div {
  margin-right: 10px;
}
.contact-div {
  padding-left: 30px;
}
input {
  border-radius: 2px;
  width: 500px;
  height: 30px;
  text-decoration: none;
  margin-bottom: 20px;
}
input:focus,
textarea:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px #719ece;
}
input::placeholder {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: gray;
}
.buttons {
  width: 500px;
  height: 50px;
  padding-left: 100px;
  margin-top: 30px;
}
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
}
.blue {
  color: #55acee;
  border: 2px #55acee solid;
}
.blue:hover {
  background-color: #55acee;
  color: #fff;
}
.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}
.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}
h1 {
  margin-left: 25px;
  border-top-width: 9px;
  border-bottom-width: 14px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  color: #adadad;
  text-decoration: underline overline #ff3028;
}
.tool-name {
  margin: auto;
  padding: 50px;
}
.header {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  margin: auto;
  margin-bottom: 30px;
  animation: type-header 5s steps(26);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #bfbfbf;
  width: 26ch;
}
@keyframes type-header {
  0% {
    width: 0ch;
  }
  100% {
    width: 23ch;
  }
}

img {
  width: 70px;
  height: 70px;
}
.navbar ul {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.navbar li {
  list-style-type: none;
  padding: 16px;
  font-size: large;
}
.navbar a {
  text-decoration: none;
  color: whitesmoke;
}
.navbar-logo {
  width: 100px;
  justify-content: flex-start;
}
.navbar-toggle {
  display: none;
}
.navbar-links:hover {
  transform: translateY(-4px);
  transition: 0.3s;
  text-shadow: 1px 1px grey;
}
.navbar-links:hover a {
  text-decoration: underline;
  text-decoration-color: goldenrod;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}
.visible {
  display: block;
}
.invisible {
  display: none !important;
}
.content {
  font-size: large;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  line-height: 50px;
  text-align: start;
}
.about .about-div h1,
.use .use-div h1 {
  font-size: 42px;
  font-weight: 500;
  color: #d22938;
  text-decoration: underline overline;
  text-decoration-color: white;
  margin: 50px;
  text-underline-offset: 10px;
}

iframe {
  width: 900px;
  height: 400px;
}
.contact {
  color: black;
  position: relative;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h1 {
  font-size: 42px;
  font-weight: 500;
  color: #d22938;
  text-decoration: underline overline;
  text-decoration-color: white;
  margin: 50px;
  text-underline-offset: 10px;
}

.container-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container-contact .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container-contact .contactInfo .box {
  position: relative;
  padding: 10px 0;
  display: flex;
}
.container-contact .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  color: #d22938;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container-contact .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container-contact .contactInfo .box .text h3 {
  color: #d22938;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 5px;
}
.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #d22938;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.footer {
  margin: 80px;
  margin-bottom: 0px;
}
/* contact media queries */
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container-contact {
    flex-direction: column;
  }
  .container-contact .contactInfo,
  .contactForm {
    margin-bottom: 40px;
    width: 100%;
  }
}

/* media query for hamburger icon */
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  .active {
    display: block;
  }
}

/* mobile responsive */
@media (min-width: 320px) and (max-width: 768px) {
  .about-div {
    width: 300px;
    height: 300px;
    padding-left: 5px;
  }
  .contact-div {
    padding-left: 5px;
    padding-top: 10px;
  }
  .content {
    font-size: 15px;
    line-height: 25px;
  }
  .use {
    margin-top: 30px;
  }

  .main {
    width: 300px;
    height: 260px;
  }
  .about .about-div h1,
  .use .use-div h1 {
    font-size: 30px;
    font-weight: 500;
  }
  input {
    border-radius: 5px;
    width: 240px;
    height: 20px;
    margin-bottom: 8px;
  }
  input::placeholder {
    font-size: 10px;
  }
  .buttons {
    width: 300px;
    height: 30px;
    padding-left: 0;
    margin-top: 20px;
  }

  .btn {
    margin: 0px;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
  }
  h1 {
    margin-left: 8px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    font-size: 20px;
  }
  .tool-name {
    margin: auto;
    padding: 20px;
  }
  .header {
    font-size: 20px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .footer {
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 30px;
  }
  img {
    width: 40px;
    height: 40px;
  }

  iframe {
    width: 300px;
    height: 200px;
  }
  /* contact me responsive */
  .contact .content h1 {
    font-size: 30px;
  }
  .container-contact .contactInfo .box .text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 200;
  }
  .container-contact .contactInfo .box .text h3 {
    font-weight: 50;
    font-size: 20px;
  }
  .container-contact .contactInfo .box {
    padding: 10px 0;
  }
  .container-contact .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    font-size: 20px;
  }
  .responsive {
    font-size: 13px;
  }
  .contactForm .inputBox input[type="submit"] {
    width: 100px;
    height: 40px;
  }
}
