@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background-color: #272727;
  text-align: center;
  color: aliceblue;
  overflow-x: hidden;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html {
  scroll-behavior: smooth;
}
.main {
  border-radius: 2px;
  width: 700px;
  height: 450px;
  align-items: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about {
  text-align: start;
}
.use {
  display: flex;
  flex-direction: row-reverse;
}
.contact {
  text-align: start;
}
.about-div {
  width: 800px;
  height: 400px;
  padding-left: 30px;
}
.use-div {
  margin-right: 10px;
}
.contact-div {
  padding-left: 30px;
}
input {
  border-radius: 2px;
  width: 500px;
  height: 30px;
  text-decoration: none;
  margin-bottom: 20px;
}
input:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 30px #719ece;
}
input::placeholder {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: gray;
}
.buttons {
  width: 500px;
  height: 50px;
  padding-left: 100px;
  margin-top: 30px;
}
.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
}
.blue {
  color: #55acee;
  border: 2px #55acee solid;
}
.blue:hover {
  background-color: #55acee;
  color: #fff;
}
.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}
.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}
h1 {
  margin-left: 25px;
  border-top-width: 9px;
  border-bottom-width: 14px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  color: #adadad;
  text-decoration: underline overline #ff3028;
}
.tool-name {
  margin: auto;
  padding: 50px;
}
.header {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: oblique;
  margin: auto;
  margin-bottom: 30px;
  animation: type-header 5s steps(26);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #bfbfbf;
  width: 26ch;
}
@keyframes type-header {
  0% {
    width: 0ch;
  }
  100% {
    width: 23ch;
  }
}

img {
  width: 70px;
  height: 70px;
  /* padding-right: 600px; */
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  list-style-type: none;
  padding: 16px;
  font-size: large;
}
.navbar a {
  text-decoration: none;
  color: whitesmoke;
}
.navbar-logo {
  
  width:100px;
  justify-content: flex-start;
}
.navbar-toggle {
  display: none;
}
.navbar-links:hover {
  transform: translateY(-4px);
  transition: 0.3s;
  text-shadow: 1px 1px grey;
}
.navbar-links:hover a {
  text-decoration: underline;
  text-decoration-color: goldenrod;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}
.footer-ul {
  list-style-type: none;
  margin: 0;
  padding-right: 50px;
  overflow: hidden;
}

.footer-li {
  float: right;
  font-size: large;
}

.footer-li .footer-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer-li .footer-a:hover {
  text-decoration: underline;
  text-decoration-color: goldenrod;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}
.footer-li:hover {
  transform: translateY(-4px);
  transition: 0.3s;
  text-shadow: 1px 1px grey;
}
.content {
  font-size: large;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  line-height: 50px;
  text-align: start;
}

.insta,
.fb,
.linkedIn,
.github {
  float: left;
}

#about {
  animation: type-about 3s steps(7);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #bfbfbf;
  width: 7ch;
}
@keyframes type-about {
  0% {
    width: 0ch;
  }
  100% {
    width: 7ch;
  }
}
#use {
  animation: type-use 3s steps(11);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #bfbfbf;
  width: 11ch;
}
@keyframes type-use {
  0% {
    width: 0ch;
  }
  100% {
    width: 10ch;
  }
}
#contact {
  animation: type-contact 3s steps(11);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #bfbfbf;
  width: 11ch;
}
@keyframes type-contact {
  0% {
    width: 0ch;
  }
  100% {
    width: 11ch;
  }
}
#about,
#use,
#contact {
  color: #bfbfbf;
  text-decoration: underline;
  text-decoration-color: #ffcc66;
}
.social-icons {
  font-size: 40px;
}
.social-div {
  margin: auto;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  margin-bottom: 60px;
}

/* media query for hamburger icon */
@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  .active {
    display: block;
  }
}

/* mobile responsive */
@media (min-width: 320px) and (max-width: 768px) {
  .about-div {
    width: 300px;
    height: 300px;
    padding-left: 5px;
  }
  .contact-div {
    padding-left: 5px;
    padding-top: 10px;
  }
  .content {
    font-size: 15px;
    line-height: 25px;
  }
  .use {
    margin-top: 30px;
  }

  .main {
    width: 300px;
    height: 260px;
  }
  input {
    border-radius: 5px;
    width: 240px;
    height: 20px;
    margin-bottom: 8px;
  }
  input::placeholder {
    font-size: 10px;
  }
  .buttons {
    width: 300px;
    height: 30px;
    padding-left: 0;
    margin-top: 20px;
  }
  #use {
    overflow: hidden;
  }
  .btn {
    margin: 0px;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
  }
  h1 {
    margin-left: 8px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    font-size: 20px;
  }
  .tool-name {
    margin: auto;
    padding: 20px;
  }
  .header {
    font-size: 20px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .footer {
    padding: 0px;
    padding-bottom: 30px;
  }
  .social-icons {
    font-size: 23px;
  }
  img{ 
    width: 40px;
    height: 40px;
    
  }
}
